

<!DOCTYPE html>
<html>
<head>
<style>
>
head
{
    background-color:#000;
}

h1{
font-family: sans-serif;
font-size:60px;
text-align:center;
}

p
{
color:turqouise;
font-size:30px;
}
</style>
</head>
<body>
<h1><b>About The Project</b></h1>
<div>
<p>This project is aimed to create better work enviornments which will subsequently decrease the employee attrition. We are trying to help the employees and employers simuntaneously through our predictions. </p>
<p>The dataset contains attributes such as the time since last promotion, years of work in the company and so on to determine if the employee will stay or leave. We've also plotted graphs in order to see which sector looses most employees.</p>  
</div>
</body>
</html>